
/* general styling */
body {
  max-width: 1233px;
  /* letter-spacing: 0.02em; */
}

/* navigation bar */
ul{
  list-style-type: none;
  font-family: 'Open Sans', 'sans-serif';
  margin: 0;
  padding: 70px;
  width: 300px;
  /* background-color: #f1f1f1; */
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.red-text {
  color: #B31B1B;
}

.section-link {
  margin: 7px 2px;
  font-size: 14px;
}

a:hover {
  /* color: #3675ade0; */
  color: #B31B1B;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.name {
  font-family: 'Poppins', 'sans-serif';
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: -5px;
  opacity: 90%;
}

/* .section-link:hover {
  color: #337ab7;
} */

/* page formatting */
.page {
  padding: 70px 70px 70px 270px;
}

.socials {
  margin: 25px 0px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 7px;
  opacity: 80%;
  /* border: 5px #FFFFFF solid; */
  border-radius: 25px;
}

.icon:hover {
  opacity: 100%;
  /* border: 5px #B31B1B solid;
  border-radius: 25px; */
}




/* Work */
.intro {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  display: flex;
  text-align: left;
  padding: 0px 15px;
}

.row {
  margin: 30px 0px;
  display: flex;
}

.left-col {
  width: 45%;
  padding: 0px 15px;
}

.right-col {
  width: 55%;
}

.read-more {
  color: rgb(167, 164, 164);
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.read-more:hover {
  color:#B31B1B;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  .row {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-col {
    width: 100%;
  }
  
  .right-col {
    width: 100%;
    padding: 0px 15px;
  }
}

.proj-image{
  max-width: 90%;
  height: auto;
  padding: 10px 0px;
}

.proj-image-wider{
  max-width: 100%;
  height: auto;
  padding: 10px 0px;
}

.proj-header{    
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: .5;
  font-size: 20px;
  display: block;
  padding: 10px 0px;
}

.role-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgb(167, 164, 164);
  margin-bottom: 10px;
  /* margin-top: 6px; */
}

.proj-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  opacity: 80%;
} 

.label {
  font-size: 14px;
  color: rgb(167, 164, 164);
  font-weight: 1000;
  letter-spacing: 1.02;
}

.project-details {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.project-detail {
  margin: 10px 0px;
}

.divider {
  opacity: 40%;
  width: 100px;
}

.demo-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  opacity: 80%;
  padding-right: 50px;
}

/* About */

.abt-image {
  padding-left: 15px;
}

.abt-text {
  padding-right: 50px;
}

/* Travel, Needle Felting, Baking */
.interest-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 14.5px;
  /* display: flex; */
  text-align: center;
  padding: 0px 15px;
}

.interest .img-container {
  width: 270px;
  height: 270px;
  margin: 10px;
}

.interest img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.interest .row {
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: 10px;
}



/* old nav bar formatting */
#logo {
  width: 120px;
  float: left;
}

.topnav {
  padding: 30px 20px;
  overflow: hidden;
  /* background-color: #333; */
  background-color: white;
}
/*nav bar links*/
.topnav a {
  float: right;
  /* display: block; */
  /* color: #f2f2f2; */
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  padding-top: 45px;
  text-decoration: none;
  font-family: 'Mukta', sans-serif;
  letter-spacing: .5;
  font-size: 110%;
}

/*nav bar link change color on click*/
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgba(0, 0, 0, 0.8);
}


h1 {
  font-family: 'Sans-Serif', 'bold';
  color: black;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

/* resume */
.resume .container {
  width: 70vw;
  height: 100vh;
}

/* dark mode */
 /* body{
  background-color: #1B1F23;
  color: #E1E4E8;
  opacity: 90%;
}

.topnav{
  background-color: #1B1F23;
} 

.portfolio-intro{
  overflow: hidden;
}

.portfolio-intro:after{
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-left: 10px;
  border-bottom: 2px solid #85c1e4;
} 

#logo{
  border-radius: 15px;
}

.topnav a{
  color: #E1E4E8;
}

.topnav a:hover{
  color: white;
}

.lightgray{
  color: #a1a9b1
}

.proj-description{
  color: #a6adb4;
} 


a {
  color: white;
}

a:hover {
  color: #85c1e4;
} */
